**/.idea
java-implementation/build/*
java-implementation/results/*
java-implementation/out/*
tmp/*
papers/*.pdf
papers/*.log
papers/*.gz
papers/*.aux
papers/*.ps
papers/*.dvi
papers/*.blg
papers/*.bbl
*_temp
_radau*
_auto*
auto*
radau*
fort.*
python/**/*.pyc
**/*.swp
**/*.out
papers/frontiers-2012-images/*
*.pyc
*.swp
cuda/Debug
cuda/Release
_tmp*.png
